/* CSS Document */

body {
	
background: #16A085; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #16A085 , #F4D03F); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #16A085 , #F4D03F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}


img{align-content:center;
}


h1 { 
	height: 2em; /* 16*6=96px */
	text-align:center;
	padding: 2em;
	background: black;
	margin-bottom: .5em;
	
  
}

h2 {
	text-align: center;
	background-color: none;
	padding: 12px; 
	
}



h3 {
	text-align: center;
	color: black;
}


	
img.image1 {	
	padding: 15px;
}	


p { 
	background-color: none;
	padding: 30pt;
	color: black;

	}





#title h1 a:link {
	color: black;
	text-decoration: none;
}
#title h1 a:visited {
	color: white;
	text-decoration: none;
}

#title h1 a:hover {
	color: yellowgreen;
}
#title h1 a:active {
	color: orange;
	text-decoration: underline;
}








/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}


















/*   NAVIGATION BAR  */

    nav {  
      height: 40px;  
      width: 100%;  
      background: black;  
      font-size: 11pt;  
      font-family: Arial, sans-serif;  
      font-weight: bold;  
      position: relative;  
      border-bottom: 1px solid #666;  
  }  
  nav ul {  
      padding: 0;  
      margin: 0 auto;  
      width: 600px;  
      height: 40px;  
  }  
  nav li {  
     display: inline;  
     float: left;  
     list-style-type: none;  
 }

 .clearfix:before,  
 .clearfix:after {  
  content: " ";  
  display: table;  
}  
.clearfix:after {  
  clear: both;  
}  
.clearfix {  
  *zoom: 1;  
}  

nav a {  
  color: #fff;  
  display: inline-block;  
  width: 100px;  
  text-align: center;  
  text-decoration: none;  
  line-height: 40px;  
  text-shadow: 1px 1px 0px #000;
} 
nav li a {  
    border-right: 1px solid #666;  
    box-sizing:border-box;  
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;  
}  
nav li:last-child a {  
    border-right: 0;  
} 

nav a:hover, nav a:active {  
    background-color: #8c99a4;  
}

nav a#pull {  
    display: none;  
} 

/*tablet screens*/
@media screen and (max-width: 600px) {  
    nav {   
        height: auto;  
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 50%;  
        float: left;  
        position: relative;  
    }  
    nav li a {  
        border-bottom: 1px solid #666;  
        border-right: 1px solid #666;  
    }  
    nav a {  
        text-align: left;  
        width: 100%;  
        text-indent: 25px;  
    }  
}  

@media only screen and (max-width: 480px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  

    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #666;
    }

    nav a#pull {  
        display: block;  
        background-color: black; 
        border-bottom: 1px solid #666; 
        width: 100%;  
        position: relative;  
    }  
    nav a#pull:after {  
        content: "\f0c9";
        font-family: FontAwesome;
        width: 64px;  
        height: 64px;  
        display: inline-block;  
        position: absolute;  
        left: 50px;  
        top: 0px;  
    }  
}  
/*  END OF NAVIGATION BAR CSS CODE  */

